@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

.navbar {
  background-color: #000;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--spacing-large);
  justify-content: space-evenly;
  align-items: center;
  font-family: Open Sans, sans-serif;
  position: sticky;
  top: 0;
}

/* Styles for logo --------------------*/
.navbar__logo-link {
  display: block;
}
.navbar__logo-image {
  height: auto;
}

/* Styles for links  --------------------*/
.navbar__links {
  flex-grow: 1;
}
.navbar__links-list {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100%;
  align-items: center;
}

.navbar__link {
  color: var(--navbar-text-color);
  font-size: var(--font-size-base);
  text-decoration: none;
}
.navbar__item a:hover {
  color: var(--navbar-hover-color);
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.navbar__link--active {
  border-bottom: 2px solid var(--navbar-text-color);
  transition: border-bottom-color 0.3s ease;
}
.navbar__link--active:hover {
  border-bottom-color: var(--navbar-hover-color);
}

/* styles for hamburger menu */
.navbar__menu {
  display: none;
}
.navbar__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navbar__hamburger-icon {
  color: var(--navbar-text-color);
  /* stroke: red; */
}
.navbar__hamburger-icon:hover {
  color: var(--navbar-hover-color);
  transition: color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: flex;
    align-items: center;
  }
  .navbar__item {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    padding: 0 var(--spacing-meduim);
  }
}
