body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

main {
  padding: var(--spacing-x-large);
}

.order-section {
  background-color: var(--card-color);
  display: flex;
  border: 1px solid #000;
  border-radius: var(--product-card-border-radius);
}
