@font-face {
  font-family: Open Sans;
  src: url(/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: Open Sans, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  padding: var(--spacing-x-large);
}

.order__section {
  width: 75%;
  background-color: var(--card-color);
  border-radius: var(--product-card-border-radius);
  padding: var(--spacing-meduim);
  border: 1px solid #000;
  font-size: var(--font-size-base);
}

.order__section--heading {
  text-align: center;
}

.order__form {
  padding: var(--spacing-meduim);
}

.product__selection--group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__dropdown--select {
  padding: 1px;
  border-radius: 4px;
}

/* Containers */
.order__form--container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.costumer__info--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.costumer__info--group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Form content */
.form__section--heading {
  margin: var(--spacing-small) 0;
  font-size: var(--font-size-meduim);
  font-weight: 600;
}

.form__image {
  width: 50%;
}

.form__image--text {
  padding: var(--spacing-small) 0;
  margin-top: var(--spacing-small);
}

/* Inputs */
.form__label {
  display: block;
  padding: var(--spacing-small) 0;
}

.form__input {
  padding: var(--spacing-small) 0 var(--spacing-small) 0.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--font-size-base);
}

/* Button */
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-large);
}

.submit__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small);
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Psuedo classes */
.submit__button:hover {
  cursor: pointer;
}

.form__label::after {
  color: red;
  content: "*";
}

/* Media queries */
@media screen and (max-width: 1100px) {
  main {
    padding: var(--spacing-x-large) var(--spacing-meduim);
  }
}
@media screen and (max-width: 1000px) {
  main {
    padding: var(--spacing-x-large) var(--spacing-small);
  }
}

@media screen and (max-width: 760px) {
  .order__form--container {
    flex-direction: column;
    align-items: center;
  }
  .form__section--heading {
    margin-top: var(--spacing-meduim);
  }
}
