@font-face {
  font-family: Open Sans;
  src: url(/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: Open Sans, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  padding: var(--spacing-x-large);
}

.order__section--heading{
  text-align: center;
}

.order__section {
  width: 64rem;
  height: auto;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--product-card-border-radius);
  padding: var(--spacing-meduim);
  border: 1px solid #000;
  font-size: var(--font-size-base);
}

.order__form{
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-meduim);
}

.order__form--heading{
  padding-bottom: var(--spacing-meduim);
  font-size: var(--font-size-meduim);
  font-weight: 600;
}

.order__form--label{
  display: block;
}
.order__form--input{
  padding: 2px;
}

.order__form---billing-info{

}


