@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

/* Header */
header {
  display: flex;
  justify-content: center;
}
.header-video {
  width: 100%;
}
/* Main section */
/* Product*/
.section-header {
  width: 200px;
  display: inline-block;
  padding-top: calc(var(--spacing-x-large) * 1.5);
  margin-left: calc(var(--spacing-x-large) * 2);
  font-family: Open Sans, sans-serif;
  font-size: var(--font-size-x-large);
}

/* Product cards */
.product-section {
  width: 100%;
  height: 100%;
  padding: var(--spacing-x-large);
  display: flex;
  justify-content: space-evenly;
}

.product__container--link {
  color: #000;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: var(--font-size-meduim);
}

.product__container--header {
  display: flex;
  justify-content: center;
  padding: var(--spacing-meduim);
  font-family: Open Sans, sans-serif;
  font-size: var(--font-size-meduim);
  font-weight: 600;
}

.product__container {
  background-color: #fff;
  width: var(--card-width);
  height: var(--card-heigth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-meduim);
  border-radius: var(--product-card-border-radius);
}

/* Product buy-button*/
.product__buy-link {
  color: #2f8af1;
  width: var(--spacing-x-large);
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);
  border: 2px solid #2f8af1;
  border-radius: 1.5rem;
  font-family: Open Sans, sans-serif;
}
.product__buy-link:hover {
  background-color: #2f8af1;
  color: white;
  transition: 0.3s ease;
}

.product__container:hover {
  box-shadow: var(--card-hover-shadow);
  .product__container--image {
    transform: scale(1.05);
    transition: 0.3s ease;
  }
}

/* Media queries */
@media screen and (max-width: 1150px) {
  main {
    padding-bottom: var(--spacing-meduim);
  }
  .product-section {
    padding: var(--spacing-meduim);
  }
  .section-header{
    margin-left: var(--spacing-large);
  }
  .product__container {
    margin: 0 var(--spacing-small);
  }
}

@media screen and (max-width: 970px) {
  .product-section {
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--spacing-large);
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .section-header {
    margin-bottom: var(--spacing-meduim);
    margin-left: var(--spacing-large);
  }
  .product__container {
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .product-section {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-large);
  }
  .section-header {
    margin-left: var(--spacing-large);
  }
}
