:root {
  /* Colors */
  --navbar-primary-color: #000;
  --navbar-text-color: #fff;
  --navbar-hover-color: #5e5e5e;
  --foreground-color: #000;
  --background-color: #f0f0f0;
  --card-color: #fff;
  --footer-background: #000;
  --footer-foreground: #fff;
  --button-color: #2f8af1;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-meduim: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 4rem;

  /* Font size */
  --font-size-base: 1rem;
  --font-size-meduim: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2rem;

  /* Product card */
  --card-heigth: 400px;
  --card-width: 300px;
  --card-hover-shadow: 0px 0px 2px 2px #bbbbbb;

  /* Border */
  --product-card-border-radius: 16px;
}
