:root {
  /* Colors */
  --navbar-primary-color: #000;
  --navbar-text-color: #fff;
  --navbar-hover-color: #5e5e5e;
  --foreground-color: #000;
  --background-color: #f0f0f0;
  --card-color: #fff;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-meduim: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 4rem;
  /* Font size */
  --font-size-base: 1rem;
  --font-size-meduim: 1.2rem;

  /* Border */
  --product-card-border-radius: 8px;
}
